@import url(https://fonts.googleapis.com/css?family=Lato);

/* ==========================================================================

   ========================================================================== */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 960px;
}

header {
    background-color: black;
    height: 100px;
}

header h1 {
  border-bottom: 1px solid white;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  line-height: 1;
  margin: 0 0 0 10%;
  padding-bottom: 5px;
  padding-top: 5%;
  text-transform: uppercase;
  text-align: right;
  width: 30%;
}






/* ==========================================================================
resets
   ========================================================================== */
/*h1, h2, h3, h4, h5, h6 {
  margin: 0;
}*/


/* ==========================================================================

   ========================================================================== */


/* ==========================================================================
   Print styles
   ========================================================================== */
